extends layout

block content
  div(class='container')
        h1(style="text-align: center; color: #863A6G")= title
        - var results = results
        div(class="container-fluid" style="text-align: center;")  
            div.row 
                each item, index in results
                    div(class="row m-1")
                        div(class='card', style='width: 17rem;')
                            div(class='card-body')
                                - let destination = `dispatch(\"/fish/update?id=${item._id}\")`
                                div(class='card-text', onclick=`buy(${index})`) Fish Name: #{item["fish_name"]}  <br> Fish type: #{item["fish_type"]} <br> Fish size: #{item["fish_size"]}
                                 button.btn(class="btn btn-primary btn-sm ml-3", style="margin: 5px; width: 130px;", onclick= destination) Update  
  script.
    function buy(index){
        alert("you purchased item "+(index+1))
        }
    function dispatch(path) {
            window.location.href = path;
      }
      