extends layout

block content
  h1= title
  p Welcome to #{title}
  - let items = results
  button.btn( class="btn-primary ml-1", onclick= `click(\"/fish/create\")` ) Create a new Item
    table(class="table table-stripped table-bordered")
        thead(style="background-color:brown;color:white") 
            tr
                td Item ID
                td Item name
                td Item type
                td Item size 
                td Update
                td Detail
                td Delete
        tbody
            
            each item in items
                tr
                    td #{item._id}
                    td #{item.name}
                    td #{item.type}
                    td #{item.size}
                    td 
                      button.btn( class="btn-primary ml-1", onclick= `click(\"/fish/update/?id=${item._id}\")` ) Update
                    td 
                      button.btn( class="btn-primary ml-1", onclick= `click(\"/fish/detail/?id=${item._id}\")` ) Detail
                    td 
                      button.btn( class="btn-primary ml-1", onclick= `click(\"/fish/delete/?id=${item._id}\")` ) Delete 
                script. 
                  function click(path){ 
                    window.location.href=path 
                  }  
  //- - var result = [{"fish_name":"nemo","fish_size":5,"fish_type":"small"},{"fish_name":"apolo","fish_size":50,"fish_type":"medium"},{"fish_name":"whale","fish_size":400,"fish_type":"large"}]
  div.container-fluid
     div.row
        each item,index in items
            div.col-sm-2(onclick=`buy(${index})`) Fish Name: #{item["fish_name"]}  <br> Fish type: #{item["fish_type"]} <br> Fish size: #{item["fish_size"]}  
  script.
      function buy(index){
         alert("you purchased item "+(index+1))
      }
      